<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VS2010_TuitionPayment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SqlSelect" value="SELECT syStudentID FROM syStudent where email = '"/>
    <add key="SqlAND" value="@atsu.edu'"/>
    <add key="SqlName" value="SELECT FirstName + ' ' + LastName as Name from systudent where systudentid = "/>
    <add key="SqlEnrollCount" value="select Count(*) as NumRecs from adenroll where (syschoolstatusid = 5 or syschoolstatusid = 7 or syschoolstatusid = 13 or syschoolstatusid = 14 or syschoolstatusid = 20  or syschoolstatusid = 62 or syschoolstatusid = 63 or syschoolstatusid = 67 or syschoolstatusid = 76 or syschoolstatusid = 80) and systudentid = "/>
    <add key="SqlEnroll" value="select adenrollid, Convert(varchar,datebilled,101) as Date, adprogramdescrip as Program, Convert(decimal(10,2),arbalance) as Amount from adenroll where (syschoolstatusid = 5 or syschoolstatusid = 7 or syschoolstatusid = 13 or syschoolstatusid = 14 or syschoolstatusid = 20  or syschoolstatusid = 62 or syschoolstatusid = 63 or syschoolstatusid = 67 or syschoolstatusid = 76 or syschoolstatusid = 80) and arbalance != 0 and adshiftid = 1 and systudentid = "/>
    <add key="SqlPending" value="select * from saPendingCharge where (sabillcodeid = 1 or sabillcodeid = 73 or sabillcodeid = 71) and systudentid = "/>
    <add key="SqlTermID" value="select adtermid, Convert(varchar,date,101) as Date from satrans where syStudentID ="/>
    <add key="SqlTermID2" value=" and dateadded IN (Select MAX(dateadded) from satrans where ( sabillcode = 'TUIT' or sabillcode = 'ACTFEE' or sabillcode = 'DISFEE') and syStudentID ="/>
    <!--TUIT=1 ; ACTFEE=73; DISFEE=71-->
    <!--<add key="SqlTermID" value="select adtermid from satrans where syStudentID ="/>
    <add key="SqlTermID2" value=" and dateadded IN (Select MAX(dateadded) from satrans where sabillcode = 'TUIT' and syStudentID ="/>-->
    <add key="SqlPmt" value="select Convert(varchar,getdate(),101) as Date, adprogramdescrip as Program, Convert(decimal(10,2),arbalance) as Amount from adenroll where adenrollid = "/>
    <add key="SqlProcessedInfo" value="select Program, Convert(decimal(10,2),Amount) as Amount, TransactionDate, CCType, Reference, PostDate from TuitionProcessing where EnrollID = "/>
    <add key="UserName" value="ADMISS"/>
    <add key="Password" value="a54321d"/>
    <add key="SSLRef" value="https://secure.atsu.edu/tuitionccpmt/default.aspx"/>
    <!--LIVE-->
    <add key="ActivityURL" value="http://kirkcmapi3:8088/cmc.campuslink.webservices/ActivityWebService.asmx"/>
    <add key="GetListURL" value="http://kirkcmapi3:8088/cmc.campuslink.webservices/GetListWebService.asmx"/>
    <add key="StudentURL" value="http://kirkcmapi3:8088/cmc.campuslink.webservices/StudentWebService.asmx"/>
    <add key="TokenURL" value="http://kirkcmapi3:8088/cmc.campuslink.webservices.security/Authentication.asmx"/>
    <add key="ConnectionStringCV" value="Server=KIRKCMDB1; database=CampusVue; Uid=KChamblee; Pwd=canyon2008;"/>
    <add key="ConnectionStringProcessing" value="Server=10.1.1.102; database=TuitionProcessing; Uid=KChamblee; Pwd=canyon2008;"/>
    <!--TEST  //10.2.1.84 = "mesacmtest20082" CVapis  and  10.2.1.83 = "mesacmtest20081"  databases-->
    <!--<add key="ActivityURL" value="http://MesaCMTest20082:8088/cmc.campuslink.webservices/ActivityWebService.asmx"/>
    <add key="GetListURL" value="http://10.2.1.84:8088/cmc.campuslink.webservices/GetListWebService.asmx"/>
    <add key="StudentURL" value="http://MesaCMTest20082:8088/cmc.campuslink.webservices/StudentWebService.asmx"/>
    <add key="TokenURL" value="http://MesaCMTest20082:8088/cmc.campuslink.webservices.security/Authentication.asmx"/>
    <add key="ConnectionStringCV" value="Server=mesacmtest20081; database=CampusVue_Test; Uid=KChamblee; Pwd=canyon2008;"/>
    <add key="ConnectionStringProcessing" value="Server=10.1.1.102; database=TuitionProcessing; Uid=KChamblee; Pwd=canyon2008;"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="CampusVue_TestConnectionString" connectionString="Data Source=10.2.1.83;Initial Catalog=CampusVue_Test;Persist Security Info=True;User ID=kchamblee;Password=canyon2008" providerName="System.Data.SqlClient"/>-->
    <add name="CampusVue_Live_ConnectionString" connectionString="Data Source=kirkcmdb1;Initial Catalog=campusvue;Persist Security Info=True;User ID=kchamblee;Password=canyon2008" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".AspxFormsAuth" timeout="30" loginUrl="Login.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--<allow users="*"/>-->
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- SET UP AUTHORIZATION USING LOCATION TAG -->
  <location path="Unauthorized.aspx">
    <system.web>
      <authorization>
        <allow users="?,*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?,*"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <VS2010_TuitionPayment.Properties.Settings>
      <setting name="VS2010_TuitionPayment_Authentication_Authentication" serializeAs="String">
        <value>http://kirkcmapi3:8088/cmc.campuslink.webservices.security/Authentication.asmx</value>
      </setting>
      <setting name="VS2010_TuitionPayment_Student_StudentWebService" serializeAs="String">
        <value>http://kirkcmapi3:8088/cmc.campuslink.webservices/StudentWebService.asmx</value>
      </setting>
      <setting name="VS2010_TuitionPayment_Activity_ActivityWebService" serializeAs="String">
        <value>http://kirkcmapi3:8088/cmc.campuslink.webservices/ActivityWebService.asmx</value>
      </setting>
      <setting name="VS2010_TuitionPayment_GetList_GetListWebService" serializeAs="String">
        <value>http://kirkcmapi3:8088/cmc.campuslink.webservices/GetListWebService.asmx</value>
      </setting>
    </VS2010_TuitionPayment.Properties.Settings>
  </applicationSettings>
</configuration>